# файлы, находящиеся в подкаталоге
# считаем, что в любых каталогах подкаталоги tmp содержат временные ненужные для хранения файлы
tmp/

# файлы, заканчивающиеся суффиксами
*_old
*_backup

# точные имена файлов
Thumbs.db
.DS_Store